@page "/"
@using BlazorView.Data;
@inject HttpClient httpclient;
@inject SessionManager sessions;
@inject AuthenticationStateProvider auth;
@inject NavigationManager nav;

<PageTitle>Авторизация</PageTitle>
<p>
    <AuthorizeView>
       <p>aboba</p>
    </AuthorizeView>
</p>
<EditForm Model="@userData" OnSubmit="Auth">
    <h4>Логин</h4>
    <p>
        <InputText id="login" @bind-Value="userData.Login" />
    </p>
    <h4>Пароль</h4>
    <p>
        <InputText id="pass" @bind-Value="userData.Password" />
    </p>
    @* <h4>Email</h4>
    <p>
        <InputText id="email" @bind-Value="userData.Email" />
    </p> *@
    <button type="submit">Авторизация</button>
</EditForm>

@message

@code {
    UserData userData = new();
    string message = "";
    async Task Auth()
    {
        var answer = await httpclient.PostAsJsonAsync(
            "Users/Authorization", userData);
        if (answer.StatusCode == System.Net.HttpStatusCode.OK)
        {
            int idUser = Convert.ToInt32(await answer.Content.ReadAsStringAsync());
            string session = await sessions.GenerateSessionAsync(idUser);
            ((CustomAuthStateProvider)auth).AuthUser(session, idUser);
            //nav.NavigateTo("/counter");
        }
        else
        {
            message = await answer.Content.ReadAsStringAsync();
        }
    }

    public class UserData
    {
        public string? Login { get; set; }
        public string? Password { get; set; }
        public string? Email { get; set; }
    }
}